<footer class="MainFooter">
  <div class="MainFooter-container">
    <div class="MainFooter-section">
      <div class="AboutMe">
        <h4 class="AboutMe-title"> Acerca de mí </h4>
        <div class="AboutMe-titleSeparator"> </div>
        <%= image_tag @widgetAuthor.avatar.url(:medium),class: 'AboutMe-photo' %>
        <p class="AboutMe-description"> <%= @widgetAuthor.about %> </p>
      </div>
    </div>
    <div class="MainFooter-section">
      <div class="WidgetSocial">
        <h4 class="WidgetSocial-title">
          Siguéme en
        </h4>
        <div class="WidgetSocial-titleSeparator"> </div>
        <div class="WidgetSocial-socialContent">
          <% if @widgetAuthor.facebook? %>
          <a href="<%= @widgetAuthor.facebook %>" target="_blank" class="WidgetSocial-facebook">
            <i class="fa fa-facebook-square"></i>
          </a>
          <% end %>
          <% if @widgetAuthor.twitter? %>
            <a href="<%= @widgetAuthor.twitter %>" target="_blank" class="WidgetSocial-twitter">
              <i class="fa fa-twitter-square"></i>
            </a>
          <% end %>
          <% if @widgetAuthor.instagram? %>
            <a href="<%= @widgetAuthor.instagram %>" target="_blank" class="WidgetSocial-instagram">
              <i class="fa fa-instagram"></i>
            </a>
          <% end %>
          <% if @widgetAuthor.git? %>
            <a href="<%= @widgetAuthor.git %>" target="_blank" class="WidgetSocial-gitlab">
              <i class="fa fa-git-square"></i>
            </a>
          <% end %>
          <% if @widgetAuthor.linkedin? %>
            <a href="<%= @widgetAuthor.linkedin %>" target="_blank" class="WidgetSocial-linkedin">
              <i class="fa fa-linkedin-square"></i>
            </a>
          <% end %> 
        </div>
      </div>
    </div>    
  </div>
</footer>
<div class="FooterCopyright">
  <p class="FooterCopyright-text"> 
    Copyright (c) 2015 - Creado para alexeidev.com
  </p>
</div>