<header class="MainHeader wow bounceInDown">
  <div class="MainHeader-content">
    <div class="MainHeader-iconMenu">
      <i class="fa fa-bars"></i>
    </div>
    <div class="MainHeader-logo">
      <div class="Logo">
        <%= link_to root_path, class: "Logo-link" do %>
          <%= image_tag "logo.png", class: "Logo-image" %>
        <% end %>
      </div>
    </div>
    <div class="MainHeader-nav">
      <nav class="MainNav">
        <ul class="MainNav-list">
          <li class="MainNav-item">
            <%= link_to "Inicio", root_path, class: "MainNav-text" %>
          </li>
          <li class="MainNav-item">
            <a href="#" class="MainNav-text">
              Sobre Mi
            </a>
          </li>
          <li class="MainNav-item">
            <a href="#" class="MainNav-text">
              Cursos
            </a>
          </li>
          <li class="MainNav-item">
            <a href="#" class="MainNav-text">
              Educación
            </a>
          </li>
          <% if user_signed_in? %>
            <li class="MainNav-item">
              <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, :class => 'MainNav-text'  %>
            </li>
          <% end %>
        </ul>
      </nav>    
    </div>
    <div class="MainHeader-iconSearch">
       <i class="fa fa-search"></i>
    </div>  
  </div>  
</header>