<div class="MenuOffCanvas">
  <nav class="NavCanvas">
    <ul class="NavCanvas-list">
      <li class="NavCanvas-item">
        <%= link_to 'Inicio' , root_path, class: "NavCanvas-text" %>
      </li>
      <li class="NavCanvas-item">
        <a href="#" class="NavCanvas-text">
          Sobre Mi
        </a>
      </li>
      <li class="NavCanvas-item">
        <a href="#" class="NavCanvas-text">
          Cursos
        </a>
      </li>
      <li class="NavCanvas-item">
        <a href="#" class="NavCanvas-text">
          Educación
        </a>
      </li>
      <% if user_signed_in? %>
      <li class="NavCanvas-item">
        <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, :class => 'NavCanvas-text'  %>
      </li>
      <% end %>
    </ul>
    <div class="NavCanvas-buttonClose">
      <i class="fa fa-times"></i>
    </div>  
  </nav>
</div>