<div class="Featured wow slideInLeft">
  <% @postFeatured.each do |post| %>
    <article class="PostFeatured">
      <% post.categories.each do |category| %>
        <%= link_to category_path(category), class: 'PostFeatured-stickerCategories' do %>
            <%= category.name %>      
        <% end %>
      <% end %>
    <%= image_tag post.cover.url(:medium), class: "PostFeatured-image" %> 
    <%= link_to '' ,post_path(post), class: 'PostFeatured-linkPost' %>
    </a>
    <div class="PostFeatured-container">
      <div class="PostFeatured-timePublised">
        <div class="PostFeatured-iconTime">
          <i class="fa fa-clock-o"></i>
        </div>
        <span class="PostFeatured-time">
          <%= distance_of_time_in_words_to_now(post.created_at) %>
        </span>
      </div>
      <a href="#" class="PostFeatured-linkTitle">
        <h3 class="PostFeatured-postTitle">
          <%= link_to post.title, post_path(post), class: 'PostFeatured-postTitleLink' %>
        </h3> 
      </a>
      <p class="PostFeatured-content">
        <%= truncate(strip_tags( markdown post.content ),length:150) %>
      </p>
      <div class="PostFeatured-button">
        <div class="Button">
          <%= link_to t('.more'), post_path(post), class: "Button-blue"  %>            
        </div>
      </div>
    </div>
  </article>
  <% end %>
</div>
