<aside class="MainLayout-sidebar  wow slideInRight">
  <div class="Widget">
    <h5 class="Widget-title"> Siguenos en Facebook </h5>
    <div class="Widget-titleSeparator"> </div>
    <div class="Widget-content">
      <div class="fb-page" data-width="350" data-href="https://www.facebook.com/devalexei" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/devalexei"><a href="https://www.facebook.com/devalexei">Alexeidev.com</a></blockquote></div></div>
    </div>
  </div>
  <div class="Widget">
    <h5 class="Widget-title"> Publicidad </h5>
    <div class="Widget-titleSeparator"> </div>
    <div class="Widget-content">
      <div class="Ads">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- alexeidev -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:250px"
             data-ad-client="ca-pub-8176036793735031"
             data-ad-slot="6455887681"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>
  <div class="Widget">
    <h5 class="Widget-title"> Más Popular </h5>
    <div class="Widget-titleSeparator"> </div>
    <div class="Widget-content">
      <% @postFeatured.each do |post| %>
        <article class="PopularArticle">
        <a href="<%= post_url(post)%>" class="PopularArticle-imageLink">
          <%= image_tag post.cover.url(:medium), class: "PopularArticle-image" %> 
        </a>
        <a href="" class="PopularArticle-title"> <%= post.title %></a>
      </article>
      <% end %>
    </div>
  </div>
</aside>