<h2>Iniciar sesion</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'pure-form pure-form-stacked'})  do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
      <%= f.label :remember_me, class: 'pure-checkbox' do %>
        <%= f.check_box :remember_me %> Guardar sesión
      <% end %>
  <% end -%>

  <div class="actions">
    <%= f.submit 'Iniciar Sesión', class: 'pure-button pure-button-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
