<%= form_for @post, html: { class: 'pure-form pure-form-stacked'}  do |f|  %>
  <% if @post.errors.any? %>
    <h2><%= pluralize(@post.errors.count, "Error") %> </h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="pure-control-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "pure-input-1" %>
  </div>
  <div class="pure-control-group">
  <% if @post.cover? %>
    <%= image_tag @post.cover.url(:medium), width: "30%" %> 
  <% end %>
    <%= f.label :cover %>
    <%= f.file_field :cover, class: "pure-input-1" %>
  </div>
  <div class="pure-control-group">
    <%= f.label :content %>
    <%= f.text_area :content, rows: 20 , class: 'pure-input-1' %>
  </div>
  <div class="pure-control-group">
    <%= label_tag "Categorias" %>
    <%= hidden_field_tag "post[category_ids][]", nil %>
    <% @categories.each do |category| %>
      <p><%= check_box_tag "post[category_ids][]",category.id, @post.categories.include?(category) %><%= category.name%></p>
    <% end %>

  </div>
  <div class="pure-control">
    <%= f.submit class: 'pure-button pure-button-primary' %>
  </div>
<% end %>