<article class="Post">
  <h3 class="Post-title">
    <%= link_to post.title, post_path(post),class: 'Post-linkTitle' %>
  </h3>
  <%= render 'posts/postInformation', post: post  %>
  <div class="Post-featuredImage">
    <%= image_tag post.cover.url(:medium), class: "Post-image" %> 
  </div>
  <div class="Post-content">
    <div class="Post-text">
     <%= truncate(strip_tags( markdown post.content ),length:250) %>
    </div>
  </div>
  <div class="Post-innerContent">
    <div class="Post-buttonMore">
      <div class="Button">
        <%= link_to t('.readMore') , post_path(post), class: 'Button-more' %>
      </div>
    </div>
    <%= render 'posts/share', post: post  %> 
  </div>
</article>