<div class="Post-information">
  <div class="Post-itemInformation">
    <div class="Post-iconTime">
      <i class="fa fa-clock-o"></i>
    </div>
    <span class="Post-textInformation"> <%= distance_of_time_in_words_to_now(post.created_at) %> </span>
  </div>
  <div class="Post-itemInformation">
    <div class="Post-iconAuthor">
      <i class="fa fa-user"></i>
    </div>
    <span class="Post-textInformation"> <%= post.user.name %> </span>
  </div>
  <div class="Post-itemInformation">
    <div class="Post-iconCategory">
      <i class="fa fa-folder-o"></i>
    </div>
    <span class="Post-textInformation"> 
    <% post.categories.each do |category| %>
      <%= link_to category.name, category_path(category) %>
    <% end %>
    </span>
  </div>
  <div class="Post-itemInformation">
    <div class="Post-iconComment">
      <i class="fa fa-comments-o"></i>
    </div>
    <span class="Post-textInformation disqus-comment-count" data-disqus_identifier="<%= post.title %>" data-disqus-url="<%= post_url(post) %>"> </span>
  </div>
</div>