<div class="Post-share">
  <p class="Post-textShare"> Compartir </p>
  <div class="Post-shareLinks">
    <a class="Post-shareTwitter" rel="nofollow" href="http://twitter.com/" onclick="popUp=window.open('http://twitter.com/intent/tweet?text=\'<%= post.title %>\' via @alexeidev - <%= post_url(post) %>', 'popupwindow','scrollbars=yes,width=800,height=400'); popUp.focus(); return false">
      <i class="fa fa-twitter"></i>
    </a>
    <a class="Post-shareFacebook" rel="nofollow" href="http://www.facebook.com/" onclick="popUp=window.open('http://www.facebook.com/sharer.php?u=<%= post_url(post) %>', 'popupwindow','scrollbars=yes,width=800,height=400'); popUp.focus(); return false">
      <i class="fa fa-facebook"></i>
    </a>
    <a class="Post-shareGooglePlus" rel="nofollow" href="http://www.plus.google.com/" onclick="popUp=window.open('https://plus.google.com/share?url=<%= post_url(post) %>','popupwindow','scrollbars=yes,width=800,height=400'); popUp.focus(); return false">
      <i class="fa fa-google-plus"></i>
    </a>
    <a class="Post-shareLinkedin" rel="nofollow" href="http://www.linkedin.com/" onclick="popUp=window.open('http://www.linkedin.com/cws/share?url=<%= post_url(post) %>, 'popupwindow', 'scrollbars=yes,width=800,height=400'); popUp.focus(); return false">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
</div>
