<%- model_name = @post.class.model_name.human %>

<article class="Post">
  <% if user_signed_in? %>
    <%= link_to t('.edit', model: model_name ), edit_post_path %>
    <%= link_to t('.delete', model: model_name), post_path(@post), method: :delete, data: { confirm: t('.sure')} %>
  <% end %>
  <h3 class="Post-title">
    <%= @post.title%>
  </h3>
  <%= render 'posts/postInformation', post: @post %>
  <div class="Post-featuredImage">
    <%= image_tag @post.cover.url(:medium), class: "Post-image" %> 
  </div>
  <div class="Post-content">
    <div class="Post-text">
      <%= markdown @post.content %>
    </div>
  </div>
  <%= render 'posts/share', post: @post  %>
</article>
<div class="Author">
  <h4 class="Author-title">
    Acerca del autor
  </h4>
  <div class="Author-titleSeparator"> </div>
  <div class="Author-topContent">
    <%= image_tag @post.user.avatar.url(:medium), class: "Author-image" %> 
    <div class="Author-social">
      <div class="Author-socialContent">
        <% if @post.user.facebook? %>
          <a href="<%= @post.user.facebook %>" target="_blank" class="Author-facebook">
            <i class="fa fa-facebook-square"></i>
          </a>
        <% end %>
        <% if @post.user.twitter? %>
          <a href="<%= @post.user.twitter %>" target="_blank" class="Author-twitter">
            <i class="fa fa-twitter-square"></i>
          </a>
        <% end %>
        <% if @post.user.instagram? %>
          <a href="<%= @post.user.instagram %>" target="_blank" class="Author-instagram">
            <i class="fa fa-instagram"></i>
          </a>
        <% end %>
        <% if @post.user.git? %>
          <a href="<%= @post.user.git %>" target="_blank" class="Author-gitlab">
            <i class="fa fa-git-square"></i>
          </a>
        <% end %>
        <% if @post.user.linkedin? %>
          <a href="<%= @post.user.linkedin %>" target="_blank" class="Author-linkedin">
            <i class="fa fa-linkedin-square"></i>
          </a>
        <% end %>        
      </div>
    </div>
  </div>
  <div class="Author-bottomContent">
    <p class="Author-information">
      <%= @post.user.about %>
    </p>
  </div>
</div>
<div class="Comments">
  <h4 class="Comments-title">
    Comentarios
  </h4>
  <div class="Comments-titleSeparator"> </div>
    <div class="Comments-all">
      <%= render 'disqus' %>
    </div>
  </div>
</div>
