@import 'compass';
@import 'animate';
@import 'pygments';
/* fonts
	font-family: 'Oswald', sans-serif; 
	font-family: 'Roboto', sans-serif;
*/
/* Colors
*/
$mainBlue: #2671D8;
$bkColor: rgba(255,255,255,0.60);
$buttonBlueColor: #3FA9F5;
$colorFontPostTitle: #242424;
$secondaryBlue: #3FA9F5;
$fontColor: #222;
$colorShareIcons: #4d4d4d;
$facebookColor: #3b5998;
$twitterColor: #00aced;
$googlePlusColor: #dd4b39;
$instagramColor: #125688;
$linkedinColor: #007bb5;
$grayColor: #b3b3b3;
$grayOscure: #4d4d4d;
$colorFooter: #333;
$footerSecondaryColor: #4d4d4d;
/*-----*/
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: $bkColor;
	background-image: image-url("dot.png");
}

h1,h2,h3,h4,h5,h6{
	font-weight: 400;
}
.MenuOffCanvas {
	overflow: hidden;
  width: 100%;
  height: 100%;
}
.NavCanvas {
	position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 18.75rem;
  height: 100%;
  background: $secondaryBlue;
  padding: 2.5em 0;
  font-size: 1.15em;
  transform: translate3d(-320px,0,0);
  transition: 300ms ease-in all;
  &-active{
  	background: $mainBlue;  }
	&-text{
		color: white;
		text-decoration: none;
		padding: .8em 1em;
    display: block;
    transition: all .5s ease;
		font-family: 'Oswald', sans-serif;
  	font-style: italic;
  	font-weight: 300;

    &:hover{
    	background: $mainBlue;
    	padding-left: 1.7em;
    }
  }
  &-list{
  	margin:.5em 0;
  	padding: 0;
  	transform: translate3d(0,100%,0);
  	transition: -webkit-transform .45s cubic-bezier(1,0,.61,.15);
  }
  &-item{
  	list-style: none;
  }
  &-buttonClose{
  	color: white;
    font-size: 2em;
    position: absolute;
    left: 1rem;
    top: .5rem;
    overflow: hidden;
    z-index: 212312;
    cursor: pointer
  }
  &-showNav {
  	transform: translate3d(0, 0, 0);
  }  	
}
.MainHeader {
	background: $mainBlue;
	&-content {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		padding: .3em 0;
	}
	&-nav{
		display:none;
	}
	&-iconMenu {
		color: white;
		margin-left: 0.5em;
		font-size: 1.6em;
		cursor:pointer;
	}
	&-iconSearch {
		color: white;
		margin-right: 0.5em;
		font-size: 1.6em;
	}
}

.Logo {
	&-link {
		color: white;
		text-decoration: none;
	}
	&-image {
		width: 80%;
		font-weight: 200;
		font-size: 2.5em;
		margin: 0;
	}
}

.Featured{
	max-width: 1200px;
	margin: .5em auto;
	display: flex;
	flex-direction: column;
}

.PostFeatured{
	position: relative;
	overflow: hidden;
	height: auto;
	max-height: 300px;
	&-stickerCategories{
		position: absolute;
		top: 0;
		right: 0;
		background-color: $mainBlue;
		padding: .5em;
		color: white;
		font-size: .7em;
		font-weight: 400;
		text-decoration: none;
	}
	&-image {
		width: 100%;
	}
	&-container {
		position: absolute;
		bottom: 0;
		padding: .5em 2em;
		background: rgba(black,0.5);
		width: 100%;
		box-sizing: border-box;
	}
	&-timePublised {
		display: flex;
		align-items: center; 
	}
	&-iconTime {
		color: white;
	}
	&-time {
		color: white;
		font-weight: 300;
		font-size: .8em;
		margin-left: .5em;
	}
	&-linkTitle{
		text-decoration: none;
	}
	&-linkPost {
		position:absolute;
		background: rgba(0,0,0,0.5);
		top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
	}
	&-postTitle{
		color: white;
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		margin: 0;
		font-style: italic;
		font-size:1.4em;
		text-shadow: 1px 1px 1px rgba(black,0.5);
		transition: .5s all ease;
		&:hover{
			transform: scale(1.1);
		}
	}
	&-postTitleLink {
		text-decoration: none;
		color: white;
	}
	&-content {
		color: white;
		font-size: .8em;
		font-weight: 300;
		margin: .5em 0;
		display:none;
	}
}

.MainLayout{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	&-posts {
		background: white;
		margin: .1em .5em;
		box-shadow: 0px 0px 6px rgba(grey,0.7);
		padding: .5em 1em;
	}
	&-sidebar{
		margin: .1em .5em;
	}

}

.MainFooter {
	background-color: $colorFooter;
	padding: 1em 1.5em;
	&-container{
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
}

.FooterCopyright{
	background-color: $footerSecondaryColor;
	&-text{
		color: white;
		margin: 0;
		font-weight: 200;
		text-align: center;
		padding: 1em 0;
		font-size: 1.2em;
	}
}

.Post{
	border-bottom: .1em solid rgba(gray,0.3);
	margin-bottom:1.5em;
	&-title {
		margin: 0;
		font-family: 'Oswald', sans-serif;
		color: $colorFontPostTitle;
		font-style: italic;
		font-weight:100;
		font-size: 1.7em;
	}
	&-linkTitle{
		text-decoration: none;
		color: $colorFontPostTitle;
		&:visited{
			color: inherit;
		}
	}
	&-information {
		display: flex;
		flex-flow: row wrap;
		margin-top: .3em;
		a{
			text-decoration: none;
			color: $colorFontPostTitle;
			&:visited{
				color: inherit;
			}
		}
	}
	&-itemInformation {
		display: flex;
		align-items: center;
		width: 30%;
		i {
			color: $mainBlue;;
		}
		span {
			color: $fontColor;
			font-weight: 300;
			font-size: .7em;
			margin-left: .5em;
		}
	}
	&-image{
		width: 100%;
	}
	&-text {
		font-size: 1em;
		color: $fontColor;
		font-weight: 300;
	}
	&-innerContent{
		display: flex;
		flex-direction: column;
		margin-bottom: 1em;
	}

	&-buttonMore{
		width: 100%;
	}
	&-shareLinks {
		display: flex;
    width: 70%;
    justify-content: center;
	}
	&-share {
		border: 1px solid $secondaryBlue;
		display: flex;
		align-items: center;
		margin: .5em 0;
		a {
			padding: 0.7em 1em;
			color: $colorShareIcons;
			text-decoration: none;
			transition: .5s all ease;
		}
	}
	&-textShare {
		margin: .5em  2em;
		color: $secondaryBlue;
		font-weight: 300;
	}
	&-shareFacebook{
		&:hover{
			background: $facebookColor;
			color: white;
		}
	}
	&-shareTwitter{
		&:hover{
			color: white;
			background: $twitterColor;
		}
	}
	&-shareGooglePlus{
		&:hover {
			color:white;
			background: $googlePlusColor;
		}	
	}
	&-shareLinkedin{
		&:hover {
			color: white;
			background: $linkedinColor;
		}
	}

}

.Author{
	margin-top: 1em;
	&-title{
		font-size: 1.3em;
		color: $grayOscure;
		font-weight: 400;
		margin: 0;
		font-family: 'Oswald', sans-serif;
	}
	&-titleSeparator{
		background: $secondaryBlue;
		width: 10%;
    height: .15em;
    margin-bottom: 1em;
	}
	&-topContent{
		display: flex;
		justify-content: space-between;
	}
	&-image{
		width: 25%;
    height: 100%;
    border-radius: 10%;
	}
	&-information{
		font-weight: 300;
		color:$fontColor;
	}
	&-social
	{
		width : 70%;
		text-align: center;
		align-self: center;
		a {
			font-size: 2.5em;
			text-decoration: none;
			&:hover{
				opacity: .6;
			}
		}
	}
	&-facebook{
		color: $facebookColor;
	}
	&-twitter{
		color: $twitterColor;
	}
	&-instagram{
		color: $instagramColor;
	}
	&-gitlab{
		color: #333;	
	}
	&-linkedin{
		color: $linkedinColor;
	}

}

.Comments {
	&-title{
		font-size: 1.3em;
		color: $grayOscure;
		font-weight: 400;
		margin: 0;
		font-family: 'Oswald', sans-serif;
	}
	&-titleSeparator{
		background: $secondaryBlue;
		width: 10%;
    height: .15em;
    margin-bottom: 1em;
	}
}
.Pagination{
	margin: 1.5em 0;
	text-align: center;

	.previous_page.disabled, .next_page.disabled{
		background: $grayColor;
		text-decoration: none;
		color: white;
		padding: .5em .8em;
		margin-right: .5em;
		font-weight: 300;
		font-size: .8em;
		&:hover{
			background: rgba($grayColor,.7)
		}
	}
	.current{
		padding: .8em !important;
	}
	.current, a{
		color: white;
		padding: .5em;
		background: $buttonBlueColor;
		text-decoration: none;
		margin-right: .5em;
		text-align: center;
		font-weight: 300;
		&:hover{
			background: rgba($buttonBlueColor,.7)
		}
	}
	.next_page,.previous_page {
		color: white;
		background: $buttonBlueColor;
		padding: .5em .8em;
		text-decoration: none;
		margin-right: .5em;
		text-align: center;	
		font-weight: 300;
		font-size: .8em;
		&:hover{
			background: rgba($buttonBlueColor,.7)
		}
	}
}


/* Small Bloqs */

.Widget {
	background: white;
	box-shadow: 0px 0px 6px rgba(grey,0.7);
	margin: .5em 0 ;
	padding: 1em;
	&-title{
		font-size: 1.3em;
		color: $grayOscure;
		font-weight: 400;
		margin: 0;
		font-family:'Oswald', sans-serif;
	}
	&-titleSeparator{
		background: $secondaryBlue;
		width: 10%;
    height: .15em;
    margin-bottom: 1em;
	}
}

.AboutMe {
	display:flex;
	flex-direction: column;
	&-title {
		color: white;
		text-transform: uppercase;
		font-size: 1.8em;
		font-family: 'Oswald', sans-serif;
		font-weight: 100;
		font-style:italic;
		margin: 0;
	}
	&-titleSeparator {
		background: white;
		width: 20%;
		height: .15em;
		margin-bottom: 1em;
	}
	&-photo {
		width: 100px;
		border-radius: 50%;
		align-self: center;
	}
	&-description {
		color: white;
		font-weight: 200;
		font-size: 1.2em;
	}
}

.WidgetSocial {
	display: flex;
	flex-direction: column;
	&-title {
		color: white;
		text-transform: uppercase;
		font-size: 1.8em;
		font-family: 'Oswald', sans-serif;
		font-weight: 100;
		font-style:italic;
		margin: 0;
	}
	&-titleSeparator {
		background: white;
		width: 20%;
		height: .15em;
		margin-bottom: 1em;
	}
	&-socialContent{
		align-self: center;
		a{
			color: white;
			font-size: 2.5em;
			text-decoration: none;
		}
	}
}

.PopularArticle {
	position:relative;
	height: auto;
  overflow: hidden;
  max-height: 190px;
  margin-bottom: .5em;

	&-image{
		width: 100%;
		background-size: cover;
		background-position: center center;
		transition: .5s all ease;
		&:hover{
			transform: scale(1.1);
		}
	}
	&-title{
		color:white;
		text-shadow: 1px 1px 1px rgba(black, 0.9);
		font-family: 'Oswald', sans-serif;
		font-style: italic;
		position: absolute;
		text-decoration: none;
		bottom: .7em;
		width: 90%;
		left: 50%;
		transform: translate(-50%);
		text-align: center;
		font-weight: 200;
		font-size: 1.2em;
		transition: .5s all ease;
		&:hover .PopularArticle-image{
			transform: scale(1.1);
		}
	}
}

.Ads{
	text-align: center;
}

/* Other items */

.Button{
	&-blue{
		background-color: $buttonBlueColor;
		text-decoration: none;
		color: white;
		font-size: .9em;
    padding: .2em 1.2em;
		border-radius: .2em;
	}
	&-more{
		background-color: $buttonBlueColor;
		text-decoration: none;
		color: white;
		font-size: .8em;
    padding: .5em 0;
		border-radius: .4em;
		display: block;
		text-align : center;
		font-weight: 300;
	}
}

/* Mobile */
@media (min-width: 768px) { 
	.Featured{
		flex-direction: row;
	}
	.PostFeatured{
		max-height: 220px;
		&-postTitle{
			font-size: 1.2em;
		}
		&-content{
			display: none;
		}
		&-button{
			display:none;
		}
		&-image{
			width: 112%;
			background-size: cover;
		}
	}
	.PopularArticle {
		&-title{
			font-size: 1.5em;
		}
	}
	.MainFooter{
		&-container{
			flex-direction: row;
		}
		&-section{
			width: 50%;
		}
	}
	.AboutMe{
		&-title{
			font-size: 1.3em;
		}
		&-description{
			font-size: 1em;
		}
	}
	.WidgetSocial{
		&-title {
			font-size: 1.3em;
		}
		&-socialContent {
			margin: 2em;
		}
	}
	.FooterCopyright{
		&-text{
			font-size: 0.9em;
			text-weight: 500;
		}
	}
}

/* Escritorio */
@media (min-width: 1024px) { 
	.MainHeader {
		&-iconMenu{
			display: none;
		}
		&-logo {
			margin-left: 1em;
		}
		&-nav {
			width: 70%;
    	text-align: right;
    	display:block;
		}
	}
	.MainNav {
		&-list {
			display: inline-block;
		}
		&-item {
			display: inline-block;
			margin-left: 1em;
		}
		&-text{
			color: white;
			text-decoration: none;
			font-size: 1.1em;
			font-weight: 300;
			&:after{
		    content: " ";
		    display: block;
		    width: 0;
		    height: 2px;
		    background-color: transparent;
		    margin: auto;
		    transition: width .5s;
			}
			&:hover:after{
				background-color: white;
				width: 100%;
			}
		}

	}
	.PostFeatured{

		&-postTitle{
			font-size: 1.2em;
		}
		&-content{
			display: block;
		}
		&-button{
			display: block;
		}
	}
	.Post{
		padding: 0;
		&-title{
			font-size: 1.9em;
		}
		&-information{
			flex-wrap: nowrap;
		}
		&-itemInformation {
			width: auto;
			margin-right: 2em;
		}
		&-innerContent {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
		&-buttonMore{
			width: 20%;
		}
		&-share {
			border-radius: 3px;
		}
		&-textShare {
			margin: .5em 2em .5em 2em;
		}
	}
	.PopularArticle {
		&-title{
			font-size: 1.5em;
		}
	}
	.MainLayout{
		flex-direction: row;
		&-posts{
			padding: 1em;
			width: 70%;
		}
		&-sidebar {
			width: 30%;
		}
	}
	.Widget{
		margin-top: 0;
	}
	.PopularArticle {
		max-height: 120px;
		margin-bottom: .1em;
		&-title {
			font-size: 1.1em;
		}
	}
}
 
