<tr>
  <td> <%= category.id %> </td>
  <td> <%= link_to category.name, category_path(category) %></td>
  <td style="background: <%= category.color %>" > 
  </td>
  <td>
    <%= link_to edit_category_path(category) do %>
      <i class="fa fa-pencil-square"> </i>
    <% end %>
    <%= link_to category_path(category), method: :delete, data: { confirm: t('.sure')} do %>
      <i class="fa fa-trash-o"></i>
    <% end %>
  </td>
</tr>
  


