<%= form_for @category, html: {class: 'pure-form pure-form-aligned'} do |f| %>
  <% if @category.errors.any? %>
    <h2><%= pluralize(@category.errors.count, "Error") %></h2>
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="pure-control-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="pure-control-group">
    <%= f.label :color %>
    <%= f.color_field :color %>
  </div>
  <div class="pure-control">
    <%= f.submit class: 'pure-button pure-button-primary' %>
  </div>
<% end %>