<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <td>#</td>
      <td><%= t('.name')%></td>
      <td><%= t('.color')%></td>
      <td><%= t('.actions')%></td>
    </tr>
  </thead>
  <tbody>
      <%= render @categories %>
  </tbody>
</table>

<%= link_to t('.new_link'), new_category_path %>
