<%= form_for @image , html: {class: 'pure-form pure-form-aligned', multipart: true} do |f| %>
  <% if @image.errors.any? %>
    <h2> <% pluralize(@image.errors.count, "Error")%></h2>
    <% @image.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  <% end %>

  <div class="pure-control-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="pure-control-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="pure-control">
    <%= f.submit class: 'pure-button pure-button-primary' %>
  </div>
<% end %>