<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags %>
  <meta name="google-site-verification" content="9VfZ1BcYtJAfXvXMFMXQOrjNdMmn8oDpfJEPpkPT-RI" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,400italic,500italic,500|Oswald:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'partials/header' %>
  <%= render 'partials/postFeatured' %>
  <section class="MainLayout">
    <div class="MainLayout-posts wow slideInLeft" >
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% elsif alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'partials/sidebar' %>
  </section>
  <%= render 'partials/footer' %>
  <%= render 'partials/offCanvas' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render 'partials/disqus' %>
  <%= render 'partials/jsFacebook' %>
  <%= render 'partials/jsAnalytics' %>
</body>
</html>
